<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Nomalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/field.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="body-wrapper">
        <header class="clearfix">
            <img id="header-logo" src="{{ url_for('static', filename='farm-tools-logo.JPG') }}" alt="FarmTools Logo">
            <span id="header-title" class="title">
                    Farm Tools
                </span>
            <div id="header-auth">
                <button type="button" id="bt_register">Register</button>
                <button type="button" id="bt_login">Login</button>
            </div>
        </header>
        <section>
            <nav class="breadcrumb">
                <!--<a href="#">Game of Thrones</a>
                <span class="separator">&gt;</span>
                <a href="#">Season 3</a>
                <span class="separator">&gt;</span>
                <a href="#">Episode 8</a>-->
            </nav>
            <div class='card'>
                <div class="inline">
                    <label for="field_width">Field Width</label>
                    <select id="field_width">
                        {% for size in field_range %}
                        <option>{{ size }}</option>
                        {% endfor %}
                    </select>
                    <label for="field_length">Field Length</label>
                    <select id="field_length">
                        {% for size in field_range %}
                        <option>{{ size }}</option>
                        {% endfor %}
                    </select>
                    <container id="colors">
                        <div class="cell color0"></div>
                        <div class="cell color1"></div>
                        <div class="cell color2"></div>
                        <div class="cell color3"></div>
                        <div class="cell color4 fa fa-th-large fa-3x"></div>
                    </container>
                </div>
            </div>
            <div class='card'>
                <div class="field_grid">
                </div> 
            </div>
        </section>
        <footer>
            Copyright, bla-bla
        </footer>
    </div>
    <div class="background">
        <div class="dark-blue-layer"></div>
        <div class="light-blue-layer"></div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='field_grid.js') }}"></script>
</body>

</html>